/* Global css */
body {
    background: #f7f7f7;
    padding: 16px;
    margin: 0px;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    width: 100%;
    cursor: pointer;
  }
  .main-wrapper-card-filter {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
  .filter-wrapper {
    width: 20%;
    padding-top: 8px;
  }
  
  .filter-colbox {
    width: 100%;
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 16px 8px;
  }
  
  .cards-wrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;
  }
  .left-align {
    text-align: left;
  }
  .pd10 {
    padding: 10px;
  }
  .launch-year-span {
    border-bottom: 1px solid gray;
    padding: 0px 10px;
  }
  .year-li {
    width: 95%;
    display: flex;
    padding: 8px 0;
    /* background: green; */
    justify-content: space-between;
  }
  .year-content {
    width: 33%;
    background: #bce6bc;
    margin-left: 9px;
    padding: 6px 7px;
    border-radius: 6px;
    font-weight: 600;
  }
  .active-green {
    background: #499049;
  }
  .year-ul-wrap {
    width: 100%;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 10px;
    background: white;
    /* height: 100%; */
    margin: 8px;
    width: 23.333%;
    border-radius: 8px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .foter {
    width: 100%;
    text-align: center;
    padding: 16px 0 0 0;
    font-size: 14px;
  }
  
  .foter span {
    font-weight: bold;
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .mission-detail-li {
    text-align: left;
    display: flex;
    justify-content: start;
  }
  
  .text-left-bold {
    padding: 4px;
    font-weight: bold;
  }
  .text-right-light {
    padding: 4px;
  }
  .mission-detail-li:first-child {
    display: flex;
    flex-direction: column;
  }
  .mission-ids-ul {
    margin: 0 8px;
  }

  /* media query for tab view 1024px */
  @media screen and (max-width: 1024px) {
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
        background: white;
        /* height: 100%; */
        margin: 8px;
        width: 45%;
        border-radius: 8px;
    }
  }

  /* media query for mobile view 700px*/

  @media screen and (max-width: 700px) {
    .main-wrapper-card-filter {
        display: flex;
        justify-content: space-between;
        padding: 0px;
        flex-direction: column;
    }
    .filter-wrapper {
        width: 100%;
        padding-top: 8px;
    }
    .cards-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
        background: white;
        /* height: 100%; */
        margin: 8px;
        width: 100%;
        border-radius: 8px;
    }
  }